{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>placecosby {% block title %}{% endblock %}</title>
    <meta name="description" content="Dynamically generated placeholder images of Bill Cosby. You're welcome. :)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'mainapp/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'mainapp/favicon.ico' %}" type="image/x-icon">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles/style.css' %}" />
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36916411-4', 'placecosby.com');
      ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="main-container">
        <header id="main-header">
            <h1>
                <a href="{% url 'mainapp:index' %}"><span>place</span><span>cosby</span></a>
            </h1>
        </header>
        {% block body %}{% endblock %}
        <footer id="main-footer">
            <a href="https://github.com/ldoubleuz/placecosby">Fork me on Github</a> &bull; 
            <span>Inspired by <a href="http://placekitten.com/">placekitten</a> and <a href="http://placecage.com/">placecage</a></span> &bull;
            <span>Not affiliated with Bill Cosby</span>
        </footer>
    </div>
</body>
</html>