{% extends "mainapp/baseBarebones.html" %}
{% load staticfiles %}
{% load absolute %}

{% block desc %}Quick placeholder images of Bill Cosby. (zip zop zoobity bop){% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div id="col1">
    <p>placecosby is a service for web developers that generates custom-sized placeholder images of Bill Cosby.</p>
    <p>The API is simple; Just add your image width &amp; height after the placecosby URL!</p>
    <div id="example-area">
        <strong>Examples:</strong>
        <div class="code-area">
            <p>
                <code>
                    <a href="{% absolute 'mainapp:request_square' targSize=100 %}">
                        {% absolute  'mainapp:request_square' targSize=100 %}</a>
                </code>
            </p>
            <p>
                <code>
                    <a href="{% absolute 'mainapp:request_size' targWidth=200 targHeight=300 %}">
                        {% absolute 'mainapp:request_size' targWidth=200 targHeight=300 %}</a>
                </code>
            </p>
            <p>
                <code>
                    <a href="{% absolute 'mainapp:request_size' targWidth=200 targHeight=300 %}?image=3">
                        {% absolute 'mainapp:request_size' targWidth=200 targHeight=300 %}?image=3</a>
                </code>
            </p>
        </div>
        <a href="{% url 'mainapp:gallery' %}">Detailed image gallery</a>
    </div>
    <img src="{% url 'mainapp:request_size' targWidth=420 targHeight=200 %}" width=420 height=200/>
</div>
<div id="col2">
    <section class="row">
        <img src="{% url 'mainapp:request_size' targWidth=420 targHeight=100 %}" width=420 height=100/>
    </section>
    <section class="row">
        <section class="col">
            <img src="{% url 'mainapp:request_size' targWidth=129 targHeight=360 %}" width=129 height=360/>
        </section>
        <section class="col">
            <section class="row">
                <section class="col">
                    <section class="row">
                        <img src="{% url 'mainapp:request_size' targWidth=130 targHeight=100 %}" width=130 height=100/>
                    </section>
                    <section class="row">
                        <img src="{% url 'mainapp:request_size' targWidth=130 targHeight=108 %}" width=130 height=108/>
                    </section>
                </section>
                <section class="col">
                    <img src="{% url 'mainapp:request_size' targWidth=129 targHeight=220 %}" width=129 height=220/>
                </section>
            </section>
            <section class="row">
                <img src="{% url 'mainapp:request_size' targWidth=276 targHeight=128 %}" width=276 height=128/>
            </section>
        </section>
    </section>
</div>
{% endblock %}