body, html {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  color: #373737; }

a {
  color: #bb205f; }
  a:hover {
    color: #e35e94; }

code {
  font-family: Consolas, monaco, monospace; }

#main-container {
  margin: 0 auto;
  width: 860px; }

#main-header {
  padding-top: 2em; }
  #main-header h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 3em;
    margin: 0; }
    #main-header h1 a {
      text-decoration: none; }
      #main-header h1 a span:first-child {
        color: #7dc622; }
      #main-header h1 a span:last-child {
        color: #bb205f; }
      #main-header h1 a:hover span:first-child {
        color: #aee569; }
      #main-header h1 a:hover span:last-child {
        color: #e35e94; }

#main-footer {
  padding-top: 1em;
  clear: both; }

.gallery-entry {
  display: inline-block;
  margin: .5em; }
  .gallery-entry > * {
    display: block;
    text-align: center; }
  .gallery-entry img {
    border-radius: 4px; }

#col1 {
  float: left;
  width: 49%; }

#col2 {
  float: right;
  width: 49%; }

#col1 section, #col2 section {
  vertical-align: top;
  margin: 0;
  padding: 0; }
  #col1 section.row, #col2 section.row {
    display: block;
    margin-bottom: 12px; }
    #col1 section.row > img, #col2 section.row > img {
      display: inline-block; }
    #col1 section.row:last-child, #col2 section.row:last-child {
      margin-bottom: 0; }
  #col1 section.col, #col2 section.col {
    display: inline-block;
    margin-right: 12px; }
    #col1 section.col > img, #col2 section.col > img {
      display: block; }
    #col1 section.col:last-child, #col2 section.col:last-child {
      margin-right: 0; }
#col1 img, #col2 img {
  vertical-align: top; }

#col1 img, #col2 img {
  display: inline-block; }

#example-area {
  margin-top: .5em;
  margin-bottom: 1.5em; }

.code-area {
  border-radius: 4px;
  padding: .5em;
  background-color: #e0ffb8;
  border: 1px solid #96c757; }
  .code-area p {
    margin: 0; }
  .code-area code a {
    text-decoration: none; }
