@import "custommixins";
@import "settings";

.gallery-entry{
    display: inline-block;
    margin: .5em;
    & > * {
        display: block;
        text-align: center;
    }

    img{
        @include rounded;
    }
}